/*Calender div Components */
#lbl_AppointmentDay{
    text-align:center;
    position:relative;
    top:10px;
    margin-left: auto;
    margin-right:auto;
    color:rgb(153,153,153);
    font:12pt;
    width:220px;
   /* 
    -moz-border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  
  -moz-border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  
  -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  */
}
#div_Calender{
    min-width:200px;
    height:100%;
    min-height:400px;
}
#div_CalenderBox{
    position:relative;
    top:25px;
    width:310px;
    min-height:300px;
    height:100%;
    margin: 0px auto;
   
   overflow:hidden;
   /*
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    */
}
.btn_AddAppointment{
    margin-left:5px;
    height:20px;
    width:20px;
}
.btn_AddAppointment span{
    left:0px !important;
    top: 0px !important;
    margin-left:1px !important;
    margin-top:1px !important;
}

.div_DroppedBlock{
    position:relative;
    text-align:left;
    float:left;
    width:70px;
    height:22px;
    font-size:6pt;
    font-weight:bold;
    border: 1px solid #CCCCCC;
    background-color:rgb(239,239,239); 
	margin-left:1px;
	margin-top:1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);

}
.div_DroppedInfo{
    position:relative;
    float:left;
    width:100%;
    text-align:center;
}
.div_DroppedID{
    position:relative;
    display:inline;
    margin-left:auto;
    margin-right:auto; 
}
.div_DroppedBar{
    position:relative;
    float:left;
    top:0px;
    left:0px;
    width:100%;
    height:12px;
}
.btn_DroppedRemove{
     position:relative;
     float:right;
     height:12px;
	 top:0px !important;
     width:12px !important;
}

.div_DroppedStatus{
    position:relative;
    float:left;
    height: 12px;
    width:40px;
    height:8px !important;
    background-position:center !important;    
}
.div_DroppedError{
    position:relative;
    float:right;    
    right:0px;
	top:1px;
    width:12px;
    height:12px;
    
}
.img_DroppedError{
    width:10px;
    height:10px;   
}
.hiddenError{
    visibility:hidden;
}


.bar_inProgress{ 
    background-image: url(../../../../Images/bar_inProgress.gif) !important;
}
.bar_Success{
    background-image: url(../../../../Images/bar_Success.gif) !important;
}
.bar_Failed{
    background-image: url(../../../../Images/bar_Failed.gif) !important;
}

/* Appointment Boxes */
.div_AppointmentContainer{
    position:relative;
    width:100%;
    height:65px;
    margin-top:2px;
    margin-bottom: 2px;
    
}
.div_AppointmentContainerEdit {
position: relative;
width: 100%;
height: 65px;
margin-top: 2px;
margin-bottom: 2px;
}
.div_AppointmentBox{
    position:relative;
    float:left;
    height:90%;    
    width:240px;
    overflow:hidden;
    margin-right=4.5px;

    cursor:pointer;
      -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);

}
.selectedAppointment{
    background-color:rgb(60, 120, 216);
}
.lbl_StartTime{
    position:relative;
    float: left;
    left:10px;
    top:10px;
    width:15%;
    min-width:20px;
    font-size:8pt;
    color:gray;
}
.lbl_EndTime{
    position:absolute;
    left:10px;
    top:40px;
    width:15%;
    min-width:20px;
    color:gray;
    font-size:8pt;
}
.div_AppOptions{
    position:relative;
    float:left;
    height:100%;
	margin-left: 4px;
    width:20px;
}
.div_AppOptionsEdit{
    position:relative;
    float:left;
    height:100%;
	margin-left: 4px;
    width:20px;
}
.btn_AppInfo{
    display:block;
    position:relative;
    float:left;
    width:17px;
    height:17px;
}
.btn_AppInfo span{
    left:0px !important;
    z-index:30;
}
.lbl_AppCurrent{
    display:block;
    position:relative;
    font-size:7pt;
	font-weight:bold;
}
.lbl_AppSep{
    display:block;
    position:relative;
    font-size:6pt;
}
.lbl_AppCapacity{
    display:block;
    position:relative;
    font-size:7pt;
	font-weight:bold;
}
/* Appointments to be highlighted for drop */
.highlightDroppable{
  -moz-box-shadow: 0 0 .8em rgba(0, 0, 0, .4);
  -webkit-box-shadow: 0 0 .8em rgba(0, 0, 0, .4);
  box-shadow: 0 0 .8em rgba(0, 0, 0, .4);
}
.hovered{
    -moz-box-shadow: 0 0 .8em rgba(0, 0, 0, .9);
  -webkit-box-shadow: 0 0 .8em rgba(0, 0, 0, .9);
  box-shadow: 0 0 .8em rgba(0, 0, 0, .9);
}
/* Appointment Info */
.div_appInfo_file{
    margin-bottom:2px;
	border-color:blue;
	border: 1px solid #CCCCCC;
}
.btn_removeFile{
    /*top:-20px !important;*/
    float:right;
    height:16px;
    width:16px;
}
.btn_removeFile span{
    padding: 0px 0px 0px 0px !important;
    float:left !important;
    width:16px !important;
    left:0px !important;
}
.btn_editFile{
    /*top:-20px !important;*/
    float:right;
    height:16px;
    width:17px;
}
.btn_editFile span{
    float:left !important;
    padding: 0px 0px 0px 0px !important;
    width:17px !important;
    left:0px !important;
}
.lbl_toggle{
    height:23px;
    width:40px;
}
.btn_attendance{
    float:right;
    height:15px;
    width:15px;
}
.btn_attendance span{
    float:left !important;
    padding: 0px 0px 0px 0px !important;
    width:17px !important;
    left:7px !important;
}
/* Appointment Boxes EDIT MODE */
.div_AppointmentBoxEdit{
    position:relative;
    float:left;
    height:90%;    
    width:240px;
    overflow:hidden;
    margin-left:4px;

    cursor:pointer;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    box-shadow: 0 0 .3em rgba(0, 0, 0, .8);

}
.div_AppointmentBoxNew{
    position:relative;
    float:left;
    height:90%;    
    width:240px;
    overflow:hidden;
    margin-left:4px;

    cursor:pointer;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    box-shadow: 0 0 .3em rgba(0, 0, 0, .8);

}
.lbl_StartTimeEdit{
    position:relative;
    float: left;
    left:10px;
    top:10px;
    width:15%;
    min-width:20px;
    font-size:10pt;
    color:gray;
}
.lbl_EndTimeEdit{
    position:relative;
    float:left;
    margin-left:10px;
    top:10px;
    width:15%;
    min-width:20px;
    color:gray;
    font-size:10pt;
}
.div_Capacity{
    position:relative;
    float:left;
    margin-left:10px;
    top:10px;
    width:15%;
    min-width:20px;
    color:gray;
    font-size:10pt;
}
.btn_AppEdit{
    display:block;
    position:relative;
    float:left;
    width:17px;
    height:17px;
}
.btn_AppEdit span{
    left:0px !important;
    z-index:30;
}
.btn_AppDelete{
    display:block;
    margin-bottom:5px;
    position:relative;
    float:left;
    width:18px;
    height:18px;
}
.btn_AppDelete span{
    left:0px !important;
    z-index:30;
}
.div_date{
    width:75px;
    height:45px;
    position:relative;
    float: left;
}
.div_date input{
    width:70px;
}
.div_time{
    width:40px;
    height:45px;
    position:relative;
    float: left;
}
.div_time input{
    width:35px;
    top:0px !important;
    left:0px !important;
    margin-left:0px !important;
}
.div_size{
    width:40px;
    height:45px;
    position:relative;
    float: left;
}
.div_size input{
    width:35px;
}
/* Appointment Box Edit Mode */
.btn_AppCurrentDelete{
    width:18px;
    height:18px;
    margin-bottom: 1px;
}
.btn_AppCurrentDone{
    width:18px;
    height:18px;
    margin-bottom: 1px;
}
.btn_AppCurrentCancel{
    width:18px;
    height:18px;
    margin-bottom: 1px;
}
.btn_AppCurrentDelete span{
    left: 0px !important;
}
.btn_AppCurrentDone span{
    left: 0px !important;
}
.btn_AppCurrentCancel span{
    left: 0px !important;
}