#SeparationDiv{
    position:relative;
    min-height:100px;
    min-width:1100px;
    
}
#SeparationDiv img{
    width:100%;
    position: absolute;
    z-index:-1000;
    left:10px;    
}

/* Fixes for the Search bar */
#div_Search{
    top:5px !important;
    width:
}
#btn_Search{
    top:-25px !important;
}
#div_SearchGroup{
    height:90px !important;
}